html,
body{
    height: 100%;
    width: 100%;
}

.pastQuestionBck{
    background:url(../img/shiney.jpg) no-repeat center center scroll;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    width: 100%;
    background-size: cover;
}

.btn_levels{
    display: inline-block;
    padding: 2px;
}
.sem{
    font-size: 15px;
}